/*Typography Styles*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-heading;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-grey {
  color: $grey;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-red{
  color : $red;
}





