@function asset_url($font) {
  @return "../../../public/assets/fonts/" + $font;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: url(asset_url('FiraSansCondensed-Bold.woff2')) format('woff2'),
  url(asset_url('FiraSansCondensed-Bold.woff')) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: url(asset_url('FiraSansCondensed-Regular.woff2')) format('woff2'),
  url(asset_url('FiraSansCondensed-Regular.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Mussels';
  src: url(asset_url('TTMussels-Regular.woff2')) format('woff2'),
  url(asset_url('TTMussels-Regular.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Mussels';
  src: url(asset_url('TTMussels-Bold.woff2')) format('woff2'),
  url(asset_url('TTMussels-Bold.woff')) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gloria Hallelujah';
  src: url(asset_url('GloriaHallelujah.woff2')) format('woff2'),
  url(asset_url('GloriaHallelujah.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: 'Fira Sans Condensed';
$font-family-heading: 'TT Mussels';
$font-family-handmade: 'Gloria Hallelujah';